{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/orders">ordered history</a></li>
    <li class="breadcrumb-item active">{{ query.ordered_product.name }}</li>
  </ol>
  <h3>{{ query.ordered_product.name }}</h3>
  <div class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item">price <span class="tag tag-default tag-pill pull-xs-right">{{ query.product_price }}</span></a>
      <a href="#" class="list-group-item">amout <span class="tag tag-default tag-pill pull-xs-right">{{ query.amount }}</span></a>
    </div>
  </div>
</div>
{% endblock %}
