{% extends 'layout.html' %}
{% block content %}

<div class="row">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">inventories</li>
  </ol>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>product name</th>
        <th>ordered</th>
        <th>received</th>
        <th>unpacked</th>
        <th>remain</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td><a href="/inventories/{{ product.id }}" alt="{{ product.name }}">{{ product.name }}</a></td>
        <td>{{ product.ordered }}</td>
        <td>{{ product.received }}</td>
        <td>{{ product.unpacked }}</td>
        <td>{{ product.remain_quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
