{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/inventories">inventories</a></li>
    <li class="breadcrumb-item active">{{ product.name }}</li>
  </ol>
  <h3>{{ inventory.product.name }}</h3>
  <div class="col-md-3">
    <div class="list-group">
      <a href="/inventories/{{ product.id }}/orders/" class="list-group-item">
        ordered
        <span class="tag tag-default tag-pill pull-xs-right">
          received: {{ product.received }}
        </span>
        <span class="tag tag-default tag-pill pull-xs-right">
          ordered: {{ product.ordered }}
        </span>
      </a>
      <a href="/inventories/{{ product.id }}/unpacks/" class="list-group-item">unpacked <span class="tag tag-default tag-pill pull-xs-right">{{ product.unpacked }}</span></a>
      <a class="list-group-item">remain <span class="tag tag-default tag-pill pull-xs-right">{{ quantity.remain_quantity }}</span></a>
    </div>
    <div class="button-group">
      <button id="button-order-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#order-modal">order</button>
    </div>
    <div>
      <div id="order-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="order-moda-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="order-modal-label">order</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <form>
                  {% csrf_token %}
                  <fieldset>
                    <div class="control-group">
                      <div class="input-group">
                        hoge
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" href="#">confirm</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% load static %}
<script src="{% static 'js/pages/inventories/show.js' %}"></script>
{% endblock %}
