[MASTER]
ignore=setup.py,docs/source/conf.py,backyard/core/settings/development.py,backyard/core/settings/testing.py,backyard/inventory/migrations

[MESSAGES CONTROL]
disable=invalid-name,
    too-few-public-methods,
    no-member,
    unused-argument
